<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head')%>
<body>
    <%- include('./partials/header')%>

    <main>
        <div class="post-detail container">
            <section class="center main-content post">
                <div class="info-usuario">
                    <img src="<%= posteo.usuario.fotoPerfil %>" alt=""> <!--IMAGEN USUARIO POST-->
                    <p><a href="/users/detalleUsuario<%= posteo.usuario.dni %>"><%= posteo.usuario.nombreUsuario %></a></p>
                </div>
                <img class="photo" src="<%= posteo.imagen %>" alt=""> <!--IMAGEN POST-->
            </section>
            <section class="right">
                <h4>Comentarios</h4>
                <section class="comments">
                    <form action="" class="comment-form">
                        <input type="text" class="input" placeholder="Agregar comentario">
                        <button type="submit">Comentar</button>
                    </form>
                    <div>
                        <% for (let i = 0; i < posteo.comentarios.length; i++) { %>
                            <article class="comment">
                                <img src="<%= posteo.comentarios[i].usuario.fotoPerfil %> " alt="">
                                <section class="content">
                                    <a class="user" href="/users/detalleUsuario<%= posteo.comentarios[i].dni %>"><%= posteo.comentarios[i].usuario.nombreUsuario %></a>
                                    <span class="text"><%= posteo.comentarios[i].texto %></span>
                                </section>
                            </article>
                        <% } %>
                    </div>
                </section>
            </section>
        </div>
    </main>
    <%- include('./partials/footer')%>

</html>