<!DOCTYPE html>
<html lang="en">

	<%- include('./partials/head')%>

<body>
    <%- include('./partials/header')%>
    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="<%= info.foto %>" alt="">
                <div class="info-usuario">
                    <p><%= info.username %></p> 
                    <a class="follow" href="">seguir</a>
                    <ul class="meta">
                        <li><%= info.usuarioPosteos %></li>
                        <li><%= info.seguidores %></li>
                        <li><%= info.seguidos %></li>
                    </ul>
                </div>
            </section>
            <section class="bottom">
                <% for(let i = 0; i < Post.length; i++) { %> 
                <article class="post">
                    <a href="/posts/detallePost/<%= Post[i].PostId %>">
                        <img src="<%= Post[i].foto %>" alt="">
                        <p> <%= Post[i].texto %></p>
                    </a>
                </article>
                <%}%>
            </section>
        </div>
    </main>

    <%- include('./partials/footer')%>
</body>

</html>