<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>

<% if (locals.user != undefined) { %>
    <%- include('./partials/headerLogueado')%>
    <% } else { %> 
        <%- include('./partials/header')%>
        <% } %>

    <body>

            <main>
                <section class="center main-content">
                    <% posteos.forEach(posteo => { %> 
                        <article class="post">
                            <div class="info-usuario ">
                                <img src="<%= posteo.usuario.foto %>" width= 100, height= 100 alt="">
                                <h4>
                                    <a href="/users/detalleUsuario/<%= posteo.usuario.dni %>"><%= posteo.usuario.username %></a>
                                </h4>
                            </div>
                            <div class="post-body">
                                <a href="/posts/detallePost/<%= posteo.PostId %>">
                                    <img src="<%= posteo.foto %>" alt="">
                                </a>
                            </div>
                            <ul class="post-reacciones">
                                <li>
                                    <i class="fa-regular fa-heart"></i>
                                </li>
                                <li>
                                    <i class="fa-regular fa-comment"></i>
                                </li>
                            </ul>
                            <div class="post-comentarios">
                                <h4>Comentarios</h4>
                                <ul>
                                    <% posteo.comentarios.forEach(comentario => { %>
                                        <li>
                                            <a href="/users/detalleUsuario/<%= comentario.usuario.dni %>"><%= comentario.usuario.username %></a>
                                            <span><%= comentario.comentario %></span>
                                        </li>
                                    <% }) %>
                                    
                                    <a href="/posts/detallePost/<%= posteo.PostId %>">Ver más...</a>
                                </ul>
                            </div>
                        </article>
                    <% }) %> 
                </section>
            </main>

            <%- include('./partials/footer')%>

    </body>

</html>