<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>

        <% if (locals.user) { %>
            <%- include('./partials/headerLogueado') %>
                <% } else { %>
                    <%- include('./partials/header') %>
                        <% } %>
                            <main>
                                <div class="user-detail container">
                                    <section class="top main-content">
                                        <img class="profile" src="/img/FotodePerfil/<%= usuario.foto %>" alt="">
                                        <div class="info-usuario">
                                            <p>
                                                <%= usuario.username %>
                                            </p>
                                            <a class="follow" href="/users/editarPerfil"><i
                                                    class="fa-solid fa-user-gear"></i></a>
                                            <ul class="meta">
                                                <li>Posteos: <%= usuario.posteos_usuario.length %>
                                                </li>
                                            </ul>
                                        </div>
                                    </section>
                                    <section class="bottom">
                                        <% for (let i=0; i < usuario.posteos_usuario.length; i++) { %>

                                            <article class="post">
                                                <a href="/posts/detallePost/<%= usuario.posteos_usuario[i].id%>">
                                                    <img src="/img/Posteos/<%= usuario.posteos_usuario[i].foto %>" alt="">
                                                    <p>
                                                        <%= usuario.posteos_usuario[i].texto %>
                                                    </p>
                                                </a>
                                            </article>
                                            <% } %>
                                    </section>
                                </div>
                            </main>

                            <%- include('./partials/footer')%>
    </body>

</html>